<div class="deviseform">
  <a class="setmainhome" href="/main"><img src="https://s3-us-west-2.amazonaws.com/wordstretch/avatarui/btn_home.png"></a>
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :username %><br />
    <%= f.text_field :username, :autofocus => true %>
  </div>
  <div><%= f.label :aboutme, "About Me!" %><br />
    <%= f.text_area :aboutme, size: "30x4", :class => "aboutme" %>
    <div class="aboutmecharcount"><span>Characters remaining: </span><span class="charnum"></span></div>
  </div>

  <% if !current_user.provider %>
    <div class="field">
      <%= f.label :password %> <i>(leave blank for no change)</i><br />
      <%= f.password_field :password, autocomplete: "off" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :current_password %> <i>(to confirm changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<%= link_to "Back", main_path %>
</div>

<script>
$(document).ready(function() {
  $(".charnum").text(100 - $(".aboutme").val().length)
  $(".aboutme").on("keyup", function(e) {
    var charnum = 100 - $(".aboutme").val().length;
    $(".charnum").text(charnum)
    if (charnum < 1) {
      $(".aboutme").val($(".aboutme").val().slice(0,100))
      $(".charnum").text("0")
    }
  })
})
</script>