<!-- <div class="rankalltimecontent"> -->
<!-- <div class="lifetimerankings">
		<div class="centered" style="font-size: 18px; color: darkgreen; margin-bottom: 4px;">Your Combined average: <%= @combinedavg %></div>
		<div class="centered">Your Giver average: <%= @giveravg %></div>
		<div class="centered">Your Guesser average: <%= @guesseravg %></div>
		
	</div> -->

	<div class="lifetimerankings vert70 alltimestats">
		<div class="button rankingnav prev">
			<img src="/assets/Left-01-48.png">
		</div>
		<div class="button rankingnav next">
			<img src="/assets/Right-01-48.png">
		</div>


		<div class="rankingstabletitle">All-time Top 15</div>

	

	  <div class="statcontainer athearts showstat">
			<span class="statcat"><u>1. % of Time <img class="newsheart" src="/assets/Heart-48.png"> Received (min 10)</u></span>
			<ul>
			  <% User.all.sort {|a,b| Game.averageheartspergame(b.id, 10, false) <=> Game.averageheartspergame(a.id, 10, false)}.first(15).each do |user| %>
			  	  <% if Game.averageheartspergame(user.id, 10, false) != -1 %>
			    		<li style="list-style-type: decimal;" data-uname="<%= user.username %>"><%= user.username %> <span style="float:right"><%= (Game.averageheartspergame(user.id, 10, false) * 100).round(2) %>%</span></li>
			    	<% end %>
			  <% end %>
			</ul>
	  </div>

	  <div class="statcontainer totalhearts">
			  <span class="statcat"><u>2. Lifetime <img class="newsheart" src="/assets/Heart-48.png"> Received</u></span>
				<ul>
				  <% User.all.sort {|a,b| b.lifetimehearts <=> a.lifetimehearts }.first(15).each do |user| %>
				  	  <% if user.lifetimehearts != 0 %>
				    		<li style="list-style-type: decimal;" data-uname="<%= user.username %>"><%= user.username %> <span style="float:right"><%= user.lifetimehearts %></span></li>
				    	<% end %>
				  <% end %>
				</ul>
		  </div>

		<div class="statcontainer avgguesser">
			<span class="statcat"><u>3. Avg Guesser Points/Game (min 10 games)</u></span>
			<ul>
			  <% User.all.sort {|a,b| Game.avgpointsguesser(b.id, 10) <=> Game.avgpointsguesser(a.id, 10)}.first(15).each do |user| %>
			  	  <% if Game.avgpointsguesser(user.id, 10) != -1 %>
			    		<li style="list-style-type: decimal;" data-uname="<%= user.username %>"><%= user.username %> <span style="float:right"><%= Game.avgpointsguesser(user.id, 10) %></span></li>
			    	<% end %>
			  <% end %>
			</ul>
	  </div>

	  <div class="statcontainer avggiver">
			<span class="statcat"><u>4. Avg Giver Points/Game (min 10 games)</u></span>
			<ul>
			  <% User.all.sort {|a,b| Game.avgpointsgiver(b.id, 10) <=> Game.avgpointsgiver(a.id, 10)}.first(15).each do |user| %>
			  	  <% if Game.avgpointsgiver(user.id, 10) != -1 %>
			    		<li style="list-style-type: decimal;" data-uname="<%= user.username %>"><%= user.username %> <span style="float:right"><%= Game.avgpointsgiver(user.id, 10) %></span></li>
			    	<% end %>
			  <% end %>
			</ul>
	  </div>

	  <div class="statcontainer atfeat">
		  <span class="statcat"><u>5. Feat Score <img class="newsheart" src="/assets/Trophy-32.png"> </u></span>
			<ul>
			  <% User.all.sort {|a,b| b.statgiverstatus.sum + b.statguesserstatus.sum <=> a.statgiverstatus.sum + a.statguesserstatus.sum}.first(15).each do |user| %>
			  	  <% if user.statgiverstatus.sum + user.statguesserstatus.sum != 0 %>
			    		<li style="list-style-type: decimal;" data-uname="<%= user.username %>"><%= user.username %> <span style="float:right"><%= user.statgiverstatus.sum + user.statguesserstatus.sum %></span></li>
			    	<% end %>
			  <% end %>
			</ul>
		</div>

		<div class="statcontainer atnonspoiler">
		  <span class="statcat"><u>6. All-time Giver Non-Spoiler Streak</u></span>
			<ul>
			  <% User.all.sort {|a,b| b.statalltimegiverstreak <=> a.statalltimegiverstreak }.first(15).each do |user| %>
			  	  <% if user.statalltimegiverstreak != 0 %>
			    		<li style="list-style-type: decimal;" data-uname="<%= user.username %>"><%= user.username %> <span style="float:right"><%= user.statalltimegiverstreak %></span></li>
			    	<% end %>
			  <% end %>
			</ul>
	  </div>

	  <div class="statcontainer atgsnonspoiler">
		  <span class="statcat"><u>7. All-time Guesser Non-Spoiler Streak</u></span>
			<ul>
			  <% User.all.sort {|a,b| b.statalltimeguesserstreak <=> a.statalltimeguesserstreak }.first(15).each do |user| %>
			  	  <% if user.statalltimeguesserstreak != 0 %>
			    		<li style="list-style-type: decimal;" data-uname="<%= user.username %>"><%= user.username %> <span style="float:right"><%= user.statalltimeguesserstreak %></span></li>
			    	<% end %>
			  <% end %>
			</ul>
	  </div>		

	  <div class="statcontainer wknonspoiler">
			  <span class="statcat"><u>8. Current Giver Non-Spoiler Streak</u></span>
				<ul>
				  <% User.all.sort {|a,b| b.statgivernospoilers <=> a.statgivernospoilers }.first(15).each do |user| %>
				  	  <% if user.statgivernospoilers != 0 %>
				    		<li style="list-style-type: decimal;" data-uname="<%= user.username %>"><%= user.username %> <span style="float:right"><%= user.statgivernospoilers %></span></li>
				    	<% end %>
				  <% end %>
				</ul>
		  </div>

		  <div class="statcontainer wkgsnonspoiler">
			  <span class="statcat"><u>9. Current Guesser Non-Spoiler Streak</u></span>
				<ul>
				  <% User.all.sort {|a,b| b.statguessernospoilers <=> a.statguessernospoilers }.first(15).each do |user| %>
				  	  <% if user.statguessernospoilers != 0 %>
				    		<li style="list-style-type: decimal;" data-uname="<%= user.username %>"><%= user.username %> <span style="float:right"><%= user.statguessernospoilers %></span></li>
				    	<% end %>
				  <% end %>
				</ul>
		  </div>

		  <div class="statcontainer totalguesser">
			  <span class="statcat"><u>10. Total Games Played as Guesser</u></span>
				<ul>
				  <% User.all.sort {|a,b| b.lifetimegamesguesser <=> a.lifetimegamesguesser }.first(15).each do |user| %>
				  	  <% if user.lifetimegamesguesser != 0 %>
				    		<li style="list-style-type: decimal;" data-uname="<%= user.username %>"><%= user.username %> <span style="float:right"><%= user.lifetimegamesguesser %></span></li>
				    	<% end %>
				  <% end %>
				</ul>
		  </div>

		  <div class="statcontainer totalgiver">
			  <span class="statcat"><u>11. Total Games Created as Giver</u></span>
				<ul>
				  <% User.all.sort {|a,b| b.lifetimegamesgiver <=> a.lifetimegamesgiver }.first(15).each do |user| %>
				  	  <% if user.lifetimegamesgiver != 0 %>
				    		<li style="list-style-type: decimal;" data-uname="<%= user.username %>"><%= user.username %> <span style="float:right"><%= user.lifetimegamesgiver %></span></li>
				    	<% end %>
				  <% end %>
				</ul>
		  </div>

	</div>

<!-- </div> -->

