<section class="avatar-customize" data-featscore=<%= @playerfeatscore %>>
	<div class="gametop">
		Customize Your Avatar
	</div>

	<div class="partbuttons">
		<a class="avbutton-bg" href="#">Background</a>
		<a class="avbutton-head" href="#">Head</a>
		<a class="avbutton-mouth" href="#">Mouth</a>
		<a class="avbutton-eyes" href="#">Eyes</a>
		<a class="avbutton-deco" href="#">Decoration</a>
		<a class="avbutton-hair" href="#">Hair</a>
	</div>

	<div class="avatarcustomshow">
		<div class="avatarpart avatar_bg">
			<img src=<%= @avguesserbgurl %>>
		</div>
		<div class="avatarpart avatar_head">
			<img src=<%= @avguesserheadurl %>>
		</div>
		<div class="avatarpart avatar_mouth">
			<img src=<%= @avguessermouthurl %>>
		</div>
		<div class="avatarpart avatar_eyes">
			<img src=<%= @avguessereyesurl %>>
		</div>
		<div class="avatarpart avatar_deco">
			<img src=<%= @avguesserdecourl %>>
		</div>
		<div class="avatarpart avatar_hair">
			<img src=<%= @avguesserhairurl %>>
		</div>
	</div>

	<div class="avlowerbuttons">
		<a class="avbutton-left" href="#"><img src="/assets/Left-01-48.png"></a>
		<a class="avbutton-right" href="#"><img src="/assets/Right-01-48.png"></a>
		<a class="avbutton-save" href="#">Save</a>
		<a class="avbutton-random" href="#">Random</a>
		<a class="avbutton-home" href="#"><img src="/assets/Home-48.png"></a>
	</div>
	
</section>