<section class="avatar-customize" data-featscore=<%= @playerfeatscore %> data-usercomponents=<%= current_user.avatar_content_type %>>
	<div class="gametop">
		Customize Your Avatar
	</div>

	<div class="avatarcustomshow">
		<div class="avatarpart avatar_bg">
			<% (1..@bgcount).each do |i| %>
			  <% thescore = User.avatarpartspoints("bg", i, "false") %>
			  <% theurl = User.avatarpartsurl("bg", i) %>
			  <img class="compitem" data-compindex=<%= (i.to_s) + "/" + @bgcount.to_s %> data-avatarcomponent=<%= "bg:" + "%03d" % i %> data-pointsneeded=<%= thescore %> src=<%= theurl %>>
			<% end %>
		</div>
		<div class="avatarpart avatar_head">
			<% (1..@headcount).each do |i| %>
			  <% thescore = User.avatarpartspoints("head", i, "false") %>
			  <% theurl = User.avatarpartsurl("head", i) %>
			  <img class="compitem" data-compindex=<%= (i.to_s) + "/" + @headcount.to_s %> data-avatarcomponent=<%= "head:" + "%03d" % i %> data-pointsneeded=<%= thescore %> src=<%= theurl %>>
			<% end %>
		</div>
		<div class="avatarpart avatar_mouth">
			<% (1..@mouthcount).each do |i| %>
			  <% thescore = User.avatarpartspoints("mouth", i, "false") %>
			  <% theurl = User.avatarpartsurl("mouth", i) %>
			  <img class="compitem" data-compindex=<%= (i.to_s) + "/" + @mouthcount.to_s %> data-avatarcomponent=<%= "mouth:" + "%03d" % i %> data-pointsneeded=<%= thescore %> src=<%= theurl %>>
			<% end %>
		</div>
		<div class="avatarpart avatar_eyes">
			<% (1..@eyescount).each do |i| %>
			  <% thescore = User.avatarpartspoints("eyes", i, "false") %>
			  <% theurl = User.avatarpartsurl("eyes", i) %>
			  <img class="compitem" data-compindex=<%= (i.to_s) + "/" + @eyescount.to_s %> data-avatarcomponent=<%= "eyes:" + "%03d" % i %> data-pointsneeded=<%= thescore %> src=<%= theurl %>>
			<% end %>
		</div>
		<div class="avatarpart avatar_hair">
			<% (0..(@haircount - 1)).each do |i| %>
			  <% thescore = User.avatarpartspoints("hair", i, "false") %>
			  <% theurl = User.avatarpartsurl("hair", i) %>
			  <img class="compitem" data-compindex=<%= (i + 1).to_s + "/" + (@haircount).to_s %> data-avatarcomponent=<%= "hair:" + "%03d" % i %> data-pointsneeded=<%= thescore %> src=<%= theurl %>>
			<% end %>
		</div>
		<div class="avatarpart avatar_deco">
			<% (0..(@decocount - 1)).each do |i| %>
			  <% thescore = User.avatarpartspoints("deco", i, "false") %>
			  <% theurl = User.avatarpartsurl("deco", i) %>
			  <img class="compitem" data-compindex=<%= (i + 1).to_s + "/" + (@decocount).to_s %> data-avatarcomponent=<%= "deco:" + "%03d" % i %> data-pointsneeded=<%= thescore %> src=<%= theurl %>>
			<% end %>
		</div>
		<div class="compindexshow"></div>
		<div class="partlockedshow hidden">
			<img src="/assets/Lock-48.png">
			<span></span>
		</div>
		<a class="avbutton-left hidden" href="#"></a>
		<a class="avbutton-right hidden" href="#"></a>
	</div>

	<div class="partbuttons">
		<a class="avbutton-bg" href="#"></a>
		<a class="avbutton-head" href="#"></a>
		<a class="avbutton-mouth" href="#"></a>
		<a class="avbutton-eyes" href="#"></a>
		<a class="avbutton-hair" href="#"></a>
		<a class="avbutton-deco" href="#"></a>
	</div>

	<div class="avlowerbuttons">
		<a class="avbutton-random" href="#"></a>
		<a class="avbutton-save" href="#"></a>
		<a class="avbutton-home" href="/main"><img src="/assets/Home-48.png"></a>
	</div>
	
</section>