<div class="landingpage">
  <div class="titlegamecopy">
    <!-- <img class="tgc-header" src="/assets/obj_title_header.png"> -->
    <img class="tgc-main" src="/assets/obj_title.png">
    <img class="tgc-subline" src="/assets/obj_title_subline.png">
  </div>
  <div class="landingtitle">
    <!-- <span>Word Stretch</span>
    <div class="subtitle">Stretch your mind as you stretch your words!</div> -->

    <div id="landing-signin">
      <br>
      <div class="si-group">
        <%= link_to(image_tag("https://s3-us-west-2.amazonaws.com/wordstretch/signin/btn_signup.png", size: "84", alt: "Sign Up"), new_user_registration_path) %>
        <%= link_to "sign up", new_user_registration_path, class: "txt-link" %>
      </div>

      <div class="si-group">
        <%= link_to(image_tag("https://s3-us-west-2.amazonaws.com/wordstretch/signin/btn_signin.png", size: "84", alt: "Sign In"), new_user_session_path) %>
        <%= link_to "sign in", new_user_session_path, class: "txt-link" %>
      </div>
      
    </div>
  </div>

  

  <div class="signin-bottom">
    <img src="https://s3-us-west-2.amazonaws.com/wordstretch/signin/obj_separator.png" class="si-bot-line">
      <div class="si-group">
        <%= link_to(image_tag("/assets/btn_play.png", size: "84", alt: "play as guest"), main_path) %>
        <%= link_to "or play as guest", main_path, class: "txt-link" %>
      </div>
  </div>

  <div id="landing-bottombar"></div>
</div>

<script>
$(document).on('ready', function() {
  $(".tgc-main").addClass("stretched");
  setInterval(function() {
    $(".tgc-main").toggleClass("stretched");
  }, 5000)
});
</script>
