<section class="rankingspage">
	<div class="gametop"><span class="gtoneline">Rankings</span></div>

	<div class="rankweeklycontent">
		<span class="spinnerwait"><img src="/assets/spinner.gif"></span>
		<span class="calcwait">Calculating...</span>
		<span class="randomfact">
			Random <span class="wordortip"></span>:
			<div class="randIdeaKey">: </div>
			<div class="randIdeaValue"></div>
		</span>
		<span class="loadlate"></span>
	</div>

	<div class="rankyou rankhidden">
		<div class="lifetimerankings">
			<div class="rankingstabletitle">Your Stats</div>
			<div class="centered">
				Your WSRating: <%= Game.avgtotal(current_user.id, 0, false) %><br>
				You've created <%= current_user.lifetimegamesgiver %> games<br>
				You've guessed in <%= current_user.lifetimegamesguesser %> games<br><br>
			</div>

			<table>
			  <caption>Giving Stats</caption>
			  <tr>
			    <td>They picked all 6 words</td>
			    <td><%= current_user.statgiverallsix %></td>
			  </tr>
			  <tr>
			    <td>They scored at least 100 points</td>
			    <td><%= current_user.statgiverscorehundred %></td>
			  </tr>
			  <tr>
			    <td>They had perfect game (all 6, no misses)</td>
			    <td><%= current_user.statgiverperfect %></td>
			  </tr>
			  <tr>
			    <td>Your current no-spoiler streak</td>
			    <td><%= current_user.statgivernospoilers %></td>
			  </tr>
			  <tr>
			    <td>Your all-time no-spoiler streak</td>
			    <td><%= current_user.statalltimegiverstreak %></td>
			  </tr>
			  <tr>
			    <td>They scored 200+ points</td>
			    <td><%= current_user.statgiverscoretwohundred %></td>
			  </tr>
			</table>

			<table>
			  <caption>Guessing Stats</caption>
			  <tr>
			    <td>You guessed all 6 words</td>
			    <td><%= current_user.statguesserallsix %></td>
			  </tr>
			  <tr>
			    <td>You scored at least 100 points</td>
			    <td><%= current_user.statguesserscorehundred %></td>
			  </tr>
			  <tr>
			    <td>You had perfect game</td>
			    <td><%= current_user.statguesserperfect %></td>
			  </tr>
			  <tr>
			    <td>Your current no-spoiler streak</td>
			    <td><%= current_user.statguessernospoilers %></td>
			  </tr>
			  <tr>
			    <td>Your all-time no-spoiler streak</td>
			    <td><%= current_user.statalltimeguesserstreak %></td>
			  </tr>
			  <tr>
			    <td>You scored 200+ points</td>
			    <td><%= current_user.statguesserscoretwohundred %></td>
			  </tr>
			</table>
			<span class="statcat"><u>Your Cheat Score (your games receiving 3+ cheat reports)</u></span>
			<span style="text-align: center; display:block;"><%= current_user.lifetimecheatgames %></span>

			<span class="statcat"><u>Games You've Reported</u></span>
			<span style="text-align: center; display:block;"><%= current_user.lifetimecheatreports %></span>
			<br><br><br><br><br><br><br>
		</div>
	</div>

	<div class="centered">
		<button class="button returntomain"><img src="https://s3-us-west-2.amazonaws.com/wordstretch/avatarui/btn_home.png"></button>
	</div>

	<div class="rankbuttons temphidden">
		<button class="button ranktime rtweekly rankselected">Rankings</button>
		<!-- <button class="button ranktime rtalltime">All-time</button> -->
		<button class="button ranktime rtyou">You</button>
	</div>
</section>

<script>
var randidea = {
		"Game Tip": "When creating games, put the harder clues first so the guesser can try again if needed during make up rounds.",
		"Game Tip": "When doing 'Chance It' guessing, use the Spoiler Detector power-up to avoid the spoiler!",
		"Game Tip": "Don't forget to use power-ups to narrow things down.",
		"Game Tip": "Try to keep a 1:6 give:guess ratio to rise up the Supreme Stretchers list!",
		"Game Tip": "Don't be afraid to delete a game you're making if the spoiler is in any danger of being picked.",
		"nabob": "An Indian ruler within the Mogul Empire; Someone of great wealth or importance.",
		"macrospatial": "Relating to relatively large spaces.",
		"solemnity": "The quality of being deeply serious and sober or solemn.",
		"psychobiology": "The study of the biological basis for cognition and other mental processes.",
		"uguisubari": "Wooden floors designed to creak at the slightest pressure, warning the inhabitants of any approach.",
		"kikepa": "A Hawaiian garment like a sarong.",
		"collyrium": "Eye lotion or ointment.",
		"phrontistery": "A thinking-place; place for study.",
		"affreighter": "One who hires or charters a ship to convey goods.",
		"myriarch": "A captain or commander of ten thousand people.",
		"demiwolf": "A half wolf; a mongrel dog, between a dog and a wolf.",
		"cornbind": "A weed that binds stalks of corn.",
		"cassonade": "Raw sugar; sugar not refined.",
		"vinedresser": "One who cultivates, prunes, or cares for, grapevines; a laborer in a vineyard.",
		"parlous": "Attended with peril; dangerous; Venturesome; bold; mischievous; keen.",
		"ennoble": "To make noble; to elevate in degree, qualities, or excellence; to dignify.",
		"decipiency": "State of being deceived; hallucination.",
		"lumbrical": "Resembling a worm; as, the lumbrical muscles of the hands of the hands and feet.",
		"previse": "To foresee.",
		"simar": "A woman's long dress or robe; also light covering; a scarf.",
		"contesseration": "An assemblage; a collection; harmonious union.",
		"hallier": "A kind of net for catching birds."
	}
var randkeys = Object.keys(randidea);
var therand = randkeys[Math.floor(Math.random() * randkeys.length)];
var randword = therand;
var randdef = randidea[randword];
if (randword === "Game Tip") {
	$(".wordortip").text("Thought")
} else {
	$(".wordortip").text("Definition")
}
$(".randIdeaKey").text(randword);
$(".randIdeaValue").text(randdef);
$(document).on("click", ".rtweekly", function() {
	$(".ranktime").removeClass("rankselected");
	$(this).addClass("rankselected");
	$(".rankweeklycontent").removeClass("rankhidden");
	$(".rankalltimecontent").addClass("rankhidden");
	$(".rankyou").addClass("rankhidden");
})
// $(document).on("click", ".rtalltime", function() {
// 	$(".ranktime").removeClass("rankselected");
// 	$(this).addClass("rankselected");
// 	$(".rankweeklycontent").addClass("rankhidden");
// 	$(".rankalltimecontent").removeClass("rankhidden");
// 	$(".rankyou").addClass("rankhidden");
// })
$(document).on("click", ".rtyou", function() {
	$(".ranktime").removeClass("rankselected");
	$(this).addClass("rankselected");
	$(".rankweeklycontent").addClass("rankhidden");
	$(".rankalltimecontent").addClass("rankhidden");
	$(".rankyou").removeClass("rankhidden");
})

$(document).ready(function() {
	var curusername = "<%= current_user.username %>";
	// $(".statcontainer li").each(function() {
 //  	if ($(this).data("uname") === curusername) {
 //  		$(this).css("color", "red").css("box-shadow", "red 0px 0px 3px 0px inset");
 //  	}
 //  })

  $(".returntomain").click(function() {
  	window.location = "/main";
  })

	//weeklyload(["rankweeklycontent"], 150);
  //alltimeload(["rankalltimecontent"], 250);
  // weeklyload(["wktopgivers", "wktopguessers"], 500);
  // alltimeload(["athearts", "atfeat", "atnonspoiler"], 750);
  // alltimeload(["attopgivers", "attopguessers"], 600);
	


	var container = "loadlate";
	setTimeout(function() {
		var wrapper = $("." + container);
		wrapper.load("/pages/alltimeranks .atcontent", function() {
		   wrapper.children("." + container).unwrap();
		   var curusername = "<%= current_user.username %>";
		   $(".totalratio li").each(function() {
			  	if ($(this).data("ratio") === 0) {
			  		$(this).css("color", "green").find(".ratiobehind").remove();

			  	}
			  })
			  $(".statcontainer" + " li").each(function() {
			  	if ($(this).data("uname") === curusername) {
			  		$(this).css("color", "red").css("box-shadow", "red 0px 0px 3px 0px inset");
			  	}
			  })

			console.log("loaded js")
			var containernum = $(".statcontainer").length - 1;
			var indicatorwidth = $(".rankfloatingnum").width() - $(".innernum").width();
			var segmentwidth = indicatorwidth / containernum;
			$(".statcontainer").each(function(index) {
				var left = ((segmentwidth * index) - ((2 / containernum) * index)).toFixed(2);
				$(this).attr("data-indicator-left", left)
			})

			$(document).on("click", ".weeklystats .next", function() {
				if ($(".showstat").next(".weeklystats .statcontainer").length === 0) {
					$(".weeklystats .showstat").addClass("statleaving");
					$(".weeklystats .statcontainer").first().find("ul, .statcat").addClass("slidetoright");
					$(".weeklystats .showstat ul, .weeklystats .showstat .statcat").addClass("slidetoleft");
					setTimeout(function() {
						$(".weeklystats .showstat.statleaving").removeClass("showstat").removeClass("statleaving");
						$(".weeklystats .statcontainer").first().addClass("showstat");
							$(".innernum").attr("style", "left:" + $(".showstat").attr("data-indicator-left") + "px");
						setTimeout(function() {
							$(".slidetoright").removeClass("slidetoright");
							$(".slidetoleft").removeClass("slidetoleft");
						},120)
					}, 120)
				} else {
					$(".weeklystats .showstat").addClass("statleaving");
					$(".weeklystats .showstat").next(".statcontainer").find("ul, .statcat").addClass("slidetoright");
					$(".weeklystats .showstat ul, .weeklystats .showstat .statcat").addClass("slidetoleft");
					setTimeout(function() {
						$(".weeklystats .showstat.statleaving").removeClass("showstat").removeClass("statleaving")
						  .next(".statcontainer").addClass("showstat");
							$(".innernum").attr("style", "left:" + $(".showstat").attr("data-indicator-left") + "px");
						setTimeout(function() {
							$(".slidetoright").removeClass("slidetoright");
							$(".slidetoleft").removeClass("slidetoleft");
						},120)
					}, 120)
				}
			})

			$(document).on("click", ".weeklystats .prev", function() {
				if ($(".showstat").prev(".weeklystats .statcontainer").length === 0) {
					$(".weeklystats .showstat").addClass("statleaving");
					$(".weeklystats .statcontainer").last().find("ul, .statcat").addClass("slidetoleft");
					$(".weeklystats .showstat ul, .weeklystats .showstat .statcat").addClass("slidetoright");
					setTimeout(function() {
						$(".weeklystats .showstat.statleaving").removeClass("showstat").removeClass("statleaving");
						$(".weeklystats .statcontainer").last().addClass("showstat");
							$(".innernum").attr("style", "left:" + $(".showstat").attr("data-indicator-left") + "px");
						setTimeout(function() {
							$(".slidetoright").removeClass("slidetoright");
							$(".slidetoleft").removeClass("slidetoleft");
						},120)
					}, 120)
				} else {
					$(".weeklystats .showstat").addClass("statleaving");
					$(".weeklystats .showstat").prev(".statcontainer").find("ul, .statcat").addClass("slidetoleft");
					$(".weeklystats .showstat ul, .weeklystats .showstat .statcat").addClass("slidetoright");
					setTimeout(function() {
						$(".weeklystats .showstat.statleaving").removeClass("showstat").removeClass("statleaving")
						  .prev(".statcontainer").addClass("showstat");
							$(".innernum").attr("style", "left:" + $(".showstat").attr("data-indicator-left") + "px");
						setTimeout(function() {
							$(".slidetoright").removeClass("slidetoright");
							$(".slidetoleft").removeClass("slidetoleft");
						},120)
					}, 120)
				}
			})
			$(document).on("click", ".alltimestats .next", function() {
				if ($(".showstat").next(".alltimestats .statcontainer").length === 0) {
					$(".alltimestats .showstat").addClass("statleaving");
					$(".alltimestats .statcontainer").first().find("ul, .statcat").addClass("slidetoright");
					$(".alltimestats .showstat ul, .alltimestats .showstat .statcat").addClass("slidetoleft");
					setTimeout(function() {
						$(".alltimestats .showstat.statleaving").removeClass("showstat").removeClass("statleaving");
						$(".alltimestats .statcontainer").first().addClass("showstat");
						$(".innernum").attr("style", "left:" + $(".showstat").attr("data-indicator-left") + "px");
						setTimeout(function() {
							$(".slidetoright").removeClass("slidetoright");
							$(".slidetoleft").removeClass("slidetoleft");
							if($(".supreme").hasClass("showstat")) {
								$(".ratingdefinition").removeClass("hidden");
							} else {
								$(".ratingdefinition").addClass("hidden");
							}
						},120)
					}, 120)
				} else {
					$(".alltimestats .showstat").addClass("statleaving");
					$(".alltimestats .showstat").next(".statcontainer").find("ul, .statcat").addClass("slidetoright");
					$(".alltimestats .showstat ul, .alltimestats .showstat .statcat").addClass("slidetoleft");
					setTimeout(function() {
						$(".alltimestats .showstat.statleaving").removeClass("showstat").removeClass("statleaving")
						  .next(".statcontainer").addClass("showstat");
						$(".innernum").attr("style", "left:" + $(".showstat").attr("data-indicator-left") + "px");
						setTimeout(function() {
							$(".slidetoright").removeClass("slidetoright");
							$(".slidetoleft").removeClass("slidetoleft");
							if($(".supreme").hasClass("showstat")) {
								$(".ratingdefinition").removeClass("hidden");
							} else {
								$(".ratingdefinition").addClass("hidden");
							}
						},120)
					}, 120)
				}
			})

			$(document).on("click", ".alltimestats .prev", function() {
				if ($(".showstat").prev(".alltimestats .statcontainer").length === 0) {
					$(".alltimestats .showstat").addClass("statleaving");
					$(".alltimestats .statcontainer").last().find("ul, .statcat").addClass("slidetoleft");
					$(".alltimestats .showstat ul, .alltimestats .showstat .statcat").addClass("slidetoright");
					setTimeout(function() {
						$(".alltimestats .showstat.statleaving").removeClass("showstat").removeClass("statleaving");
						$(".alltimestats .statcontainer").last().addClass("showstat");
						setTimeout(function() {
							$(".slidetoright").removeClass("slidetoright");
							$(".slidetoleft").removeClass("slidetoleft");
							$(".innernum").attr("style", "left:" + $(".showstat").attr("data-indicator-left") + "px");
							if($(".supreme").hasClass("showstat")) {
								$(".ratingdefinition").removeClass("hidden");
							} else {
								$(".ratingdefinition").addClass("hidden");
							}
						},120)
					}, 120)
				} else {
					$(".alltimestats .showstat").addClass("statleaving");
					$(".alltimestats .showstat").prev(".statcontainer").find("ul, .statcat").addClass("slidetoleft");
					$(".alltimestats .showstat ul, .alltimestats .showstat .statcat").addClass("slidetoright");
					setTimeout(function() {
						$(".alltimestats .showstat.statleaving").removeClass("showstat").removeClass("statleaving")
						  .prev(".statcontainer").addClass("showstat");
						setTimeout(function() {
							$(".slidetoright").removeClass("slidetoright");
							$(".slidetoleft").removeClass("slidetoleft");
							$(".innernum").attr("style", "left:" + $(".showstat").attr("data-indicator-left") + "px");
							if($(".supreme").hasClass("showstat")) {
								$(".ratingdefinition").removeClass("hidden");
							} else {
								$(".ratingdefinition").addClass("hidden");
							}
						},120)
					}, 120)
				}
			})
			$(".spinnerwait").fadeOut(1200)
			$(".calcwait").fadeOut(200)
			$(".randomfact").fadeOut(200)
		});
	}, 250)
		

	// function weeklyload(containers, time) {
	// 	for (var i = 0; i < containers.length; i++) {
	// 		(function() {
	// 			var container = containers[i];
	// 			setTimeout(function() {
	// 				var wrapper = $("." + container);
	// 				wrapper.load("/pages/weeklyranks" + " ." + container, function() {
	// 				   wrapper.children("." + container).unwrap();
	// 				   var curusername = "<%= current_user.username %>";
	// 					  $("." + container + " li").each(function() {
	// 					  	if ($(this).data("uname") === curusername) {
	// 					  		$(this).css("color", "red").css("box-shadow", "red 0px 0px 3px 0px inset");
	// 					  	}
	// 					  })

	// 				});
	// 			}, time)
	// 		})();
	// 	}
	// }
})

</script>