<div class="gametop">Rankings</div>
<div class="lifetimerankings">
	<div class="centered" style="font-size: 18px; color: darkgreen; margin-bottom: 4px;">Your Combined average: <%= @combinedavg %></div>
	<div class="centered">Your Giver average: <%= @giveravg %></div>
	<div class="centered">Your Guesser average: <%= @guesseravg %></div>
	
	<!-- <div class="centered" style="font-size:13px">(each out of 200 possible points)</div> -->
</div>

<div class="lifetimerankings">
	<div style="margin-bottom: 8px; text-align: center;">World Top 30 Players<br><span style="font-size: 80%; padding-top:15px;"><u>(Combined Average Score - min 5 games)</u></span></div>
	<ul>
	  <% User.all.sort {|a,b| @alluserstats[b.id][2] <=> @alluserstats[a.id][2]}.first(30).each do |user| %>
	  	  <% if @alluserstats[user.id][2] != -1 %>
	    		<li style="list-style-type: decimal;"><%= user.username %> <span style="float:right"><%= @alluserstats[user.id][2] %></span></li>
	    	<% end %>
	  <% end %>
	</ul>
  <br><br>
  <span style="font-size: 80%; padding-top:15px; text-align: center; display: block;"><u>(Giver Average Score - min 5 games)</u></span>
  <ul>
	  <% User.all.sort {|a,b| @alluserstats[b.id][0] <=> @alluserstats[a.id][0]}.first(30).each do |user| %>
	  	  <% if @alluserstats[user.id][0] != -1 %>
	    		<li style="list-style-type: decimal;"><%= user.username %> <span style="float:right"><%= @alluserstats[user.id][0] %></span></li>
	    	<% end %>
	  <% end %>
	</ul>
  <br><br>
  <span style="font-size: 80%; padding-top:15px; text-align: center; display: block;"><u>(Guesser Average Score - min 5 games)</u></span>
  <ul>
	  <% User.all.sort {|a,b| @alluserstats[b.id][1] <=> @alluserstats[a.id][1]}.first(30).each do |user| %>
	  	  <% if @alluserstats[user.id][1] != -1 %>
	    		<li style="list-style-type: decimal;"><%= user.username %> <span style="float:right"><%= @alluserstats[user.id][1] %></span></li>
	    	<% end %>
	  <% end %>
	</ul>
	<br><br>
	<span style="font-size: 80%; padding-top:15px; text-align: center; display: block;"><u>(Your Best Hint Givers - min 5 games)</u></span>
  <ul>
	  <% User.all.sort {|a,b| Game.usergiverrankings(current_user.id, b.id, 5) <=> Game.usergiverrankings(current_user.id, a.id, 5)}.first(30).each do |user| %>
	  	  <% if Game.usergiverrankings(current_user.id, user.id, 5) != -1 %>
	    		<li style="list-style-type: decimal;"><%= user.username %> <span style="float:right"><%= Game.usergiverrankings(current_user.id, user.id, 5) %></span></li>
	    	<% end %>
	  <% end %>
	</ul>
	<br><br>
	<span style="font-size: 80%; padding-top:15px; text-align: center; display: block;"><u>(Your Best Guessers - min 5 games)</u></span>
  <ul>
	  <% User.all.sort {|a,b| Game.userguesserrankings(current_user.id, b.id, 5) <=> Game.userguesserrankings(current_user.id, a.id, 5)}.first(30).each do |user| %>
	  	  <% if Game.userguesserrankings(current_user.id, user.id, 5) != -1 %>
	    		<li style="list-style-type: decimal;"><%= user.username %> <span style="float:right"><%= Game.userguesserrankings(current_user.id, user.id, 5) %></span></li>
	    	<% end %>
	  <% end %>
	</ul>

	<span style="font-size: 80%; padding-top:15px; text-align: center; display: block;"><u>(Your Cheat Score (your games receiving 3+ cheat reports))</u></span>
	<span style="text-align: center; display:block;"><%= current_user.lifetimecheatgames %></span><br><br>

	<span style="font-size: 80%; padding-top:15px; text-align: center; display: block;"><u>(Games You've Reported)</u></span>
	<span style="text-align: center; display:block;"><%= current_user.lifetimecheatreports %></span><br><br>


</div>

<div class="centered">
	<button class="button returntomain">Return to Main</button>
</div>