<div class="rankweeklycontent">

  	<!-- <div class="lifetimerankings">
		<div class="centered" style="font-size: 18px; color: darkgreen; margin-bottom: 4px;">Your Combined average: <%= @combinedavgweek %></div>
		<div class="centered">Your Giver average: <%= @giveravgweek %></div>
		<div class="centered">Your Guesser average: <%= @guesseravgweek %></div>
		
	</div> -->

	<div class="lifetimerankings vert70 weeklystats">
		<div class="button rankingnav prev">
			<img src="/assets/Left-01-48.png">
		</div>
		<div class="button rankingnav next">
			<img src="/assets/Right-01-48.png">
		</div>

		<div class="rankingstabletitle">Weekly Top 15</div>
			
			<div class="statcontainer wkcombined showstat">
				<span class="statcat"><u>Combined Avg Score - min 5 games</u></span>
				<ul>
				  <% User.all.sort {|a,b| @alluserstatsweek[b.id][2] <=> @alluserstatsweek[a.id][2]}.first(15).each do |user| %>
				  	  <% if @alluserstatsweek[user.id][2] != -1 %>
				    		<li style="list-style-type: decimal;" data-uname="<%= user.username %>"><%= user.username %> <span style="float:right"><%= @alluserstatsweek[user.id][2] %></span></li>
				    	<% end %>
				  <% end %>
				</ul>
	  	</div>

	  	<div class="statcontainer wkhearts">
				<span class="statcat"><u>Avg <img class="newsheart" src="/assets/Heart-48.png"> per game - min 5 games</u></span>
				<ul>
				  <% User.all.sort {|a,b| Game.averageheartspergame(b.id, 5, true) <=> Game.averageheartspergame(a.id, 5, true)}.first(15).each do |user| %>
				  	  <% if Game.averageheartspergame(user.id, 5, true) != -1 %>
				    		<li style="list-style-type: decimal;" data-uname="<%= user.username %>"><%= user.username %> <span style="float:right"><%= Game.averageheartspergame(user.id, 5, true) %></span></li>
				    	<% end %>
				  <% end %>
				</ul>
	  	</div>

	  	<div class="statcontainer atfeat">
		  <span class="statcat"><u>Feat Score <img class="newsheart" src="/assets/Trophy-32.png"> </u></span>
			<ul>
			  <% User.all.sort {|a,b| b.statgiverstatus.sum + b.statguesserstatus.sum <=> a.statgiverstatus.sum + a.statguesserstatus.sum}.first(15).each do |user| %>
			  	  <% if user.statgiverstatus.sum + user.statguesserstatus.sum != 0 %>
			    		<li style="list-style-type: decimal;" data-uname="<%= user.username %>"><%= user.username %> <span style="float:right"><%= user.statgiverstatus.sum + user.statguesserstatus.sum %></span></li>
			    	<% end %>
			  <% end %>
			</ul>
		</div>

	  	<div class="statcontainer wknonspoiler">
			  <span class="statcat"><u>Current Giver Non-Spoiler Streak</u></span>
				<ul>
				  <% User.all.sort {|a,b| b.statgivernospoilers <=> a.statgivernospoilers }.first(15).each do |user| %>
				  	  <% if user.statgivernospoilers != 0 %>
				    		<li style="list-style-type: decimal;" data-uname="<%= user.username %>"><%= user.username %> <span style="float:right"><%= user.statgivernospoilers %></span></li>
				    	<% end %>
				  <% end %>
				</ul>
		  </div>

		  <div class="statcontainer atnonspoiler">
		  <span class="statcat"><u>Longest All-time Giver Non-Spoiler Streak</u></span>
			<ul>
			  <% User.all.sort {|a,b| b.statalltimegiverstreak <=> a.statalltimegiverstreak }.first(15).each do |user| %>
			  	  <% if user.statalltimegiverstreak != 0 %>
			    		<li style="list-style-type: decimal;" data-uname="<%= user.username %>"><%= user.username %> <span style="float:right"><%= user.statalltimegiverstreak %></span></li>
			    	<% end %>
			  <% end %>
			</ul>
	  </div>

		  <div class="statcontainer wkgsnonspoiler">
			  <span class="statcat"><u>Current Guesser Non-Spoiler Streak</u></span>
				<ul>
				  <% User.all.sort {|a,b| b.statguessernospoilers <=> a.statguessernospoilers }.first(15).each do |user| %>
				  	  <% if user.statguessernospoilers != 0 %>
				    		<li style="list-style-type: decimal;" data-uname="<%= user.username %>"><%= user.username %> <span style="float:right"><%= user.statguessernospoilers %></span></li>
				    	<% end %>
				  <% end %>
				</ul>
		  </div>

		  <div class="statcontainer atgsnonspoiler">
			  <span class="statcat"><u>Longest All-time Guesser Non-Spoiler Streak</u></span>
				<ul>
				  <% User.all.sort {|a,b| b.statalltimeguesserstreak <=> a.statalltimeguesserstreak }.first(15).each do |user| %>
				  	  <% if user.statalltimeguesserstreak != 0 %>
				    		<li style="list-style-type: decimal;" data-uname="<%= user.username %>"><%= user.username %> <span style="float:right"><%= user.statalltimeguesserstreak %></span></li>
				    	<% end %>
				  <% end %>
				</ul>
		  </div>

	  	

			

			<style>
			.temphidden {
				display: block;
			}
			</style>

	</div>

</div>

