<% @gamesgiverlist.each do |game| %>
  <% if Game.find(game.id).guesser_id1 == 0 %>
    <% numplayers = "0" %>
  <% elsif Game.find(game.id).guesser_id2 == 0 %>
    <% numplayers = "1" %>
  <% elsif Game.find(game.id).guesser_id3 == 0 %>
    <% numplayers = "2" %>
  <% elsif Game.find(game.id).guesser_id4 == 0 %>
    <% numplayers = "3" %>
  <% elsif Game.find(game.id).guesser_id5 == 0 %>
    <% numplayers = "4" %>
  <% elsif Game.find(game.id).guesser_id6 == 0 %>
    <% numplayers = "5" %>
  <% else %>
    <% numplayers = "6" %>
  <% end %>
  <li class="gamelist">
    <a href="<%= game_path(game.id) %>"><!-- <%= User.find(Game.find(game.id).giver_id).username %> -->
      <%= numplayers %>/6 pl
      <span class='listnotify'> 
        <% if Game.getchatnumber(current_user.id, game.id) != "" %>
          <img src="/assets/chat.png">
        <% end %>
        <span><%= Game.getchatnumber(current_user.id, game.id) %></span>
      </span>
    <span class="timeshow"><%= local_time(game.created_at, "%b %d") %></span>
    <% heartnum = Game.find(game.id).gsr1_heart + Game.find(game.id).gsr2_heart + Game.find(game.id).gsr3_heart + 
      Game.find(game.id).gsr4_heart + Game.find(game.id).gsr5_heart + Game.find(game.id).gsr6_heart %>
    <span class="timeshow heartsnum"><img src="/assets/Heart-48.png"> x <%= heartnum %></span>
  </a>
    
    <!--<% if heartnum > 0 %>
      <div class="givelistheart glh1"><img src="/assets/Heart-48.png"></div>
    <% end %>
    <% if heartnum > 1 %>
      <div class="givelistheart glh2"><img src="/assets/Heart-48.png"></div>
    <% end %>
    <% if heartnum > 2 %>
      <div class="givelistheart glh3"><img src="/assets/Heart-48.png"></div>
    <% end %>
    <% if heartnum > 3 %>
      <div class="givelistheart glh4"><img src="/assets/Heart-48.png"></div>
    <% end %>
    <% if heartnum > 4 %>
      <div class="givelistheart glh5"><img src="/assets/Heart-48.png"></div>
    <% end %>
    <% if heartnum > 5 %>
      <div class="givelistheart glh6"><img src="/assets/Heart-48.png"></div>
    <% end %> -->
    
  </li>
<% end %>