<section class="giveboard-signedin <%= current_user.theme %>">
	<div class="gametop" data-gameid="<%= @game.id %>"><span class="gtoneline">New Game: Enter your hints</span></div>

	<div class="allwords givewordslist creatinggame">
		<span id="allwordslist">
	    <%= render 'allwords' %>
	  </span>
	</div>

	<div class="hintarea give">
		<div class="hintheading">
			<div class="notifyarea">
				<!-- <span class="hintheadline">Enter your hints</span> -->
			</div>
			<div class="hints hint1">
				<!-- <span class="hintlabel">Hint 1:</span> -->
				<textarea class="hintenter hint1word" rows="1" placeholder="Hint 1 (One word)"></textarea>
				<div class="wordnumarea">
					<span class="hintnumheading">Applies to this many words:</span>
					<div class="selections hint1number">
					  <button class="button" value="1">1</button>
					  <button class="button" value="2">2</button>
					  <button class="button" value="3">3</button>
					  <button class="button" value="4">4</button>
					  <button class="button" value="5">5</button>
					  <button class="button" value="6">6</button>
					</div>
				</div>
				<div class="givesubbuttons">
					<button class="button submithint1">Submit First Hint</button>
					<% if current_user.giverdeletegamesleft > 0 %>
						<button class="button deletegame">
							<img src="/assets/Garbage.png">
							<span class="deletenum"><%= current_user.giverdeletegamesleft %></span>
						</button>
					<% else %>
					  <button class="button deletegameoff">
					  	<img src="/assets/Garbage.png">
					  	<span class="deletenum"><%= current_user.giverdeletegamesleft %></span>
					  </button>
					<% end %>
				</div>
				<button class="menu"><img src="https://s3-us-west-2.amazonaws.com/wordstretch/avatarui/btn_menu.png"></button>
			</div>
			<div class="hints hint2 hidden">
				<!-- <span class="hintlabel">Hint 2:</span> -->
				<textarea class="hintenter hint2word" rows="1" placeholder="Hint 2 (One word)"></textarea>
				<div class="wordnumarea">
					<span class="hintnumheading">Applies to this many words:</span>
					<div class="selections hint2number">
					  <button class="button" value="1">1</button>
					  <button class="button" value="2">2</button>
					  <button class="button" value="3">3</button>
					  <button class="button" value="4">4</button>
					  <button class="button" value="5">5</button>
					  <button class="button" value="6">6</button>
					</div>
				</div>
				<!-- <div class="firstinfo">(First hint was: <span class="firstinfoword"></span> for <span class="firstinfonum">.</span>)</div> -->
				<div class="givesubbuttons">
					<button class="button submithint2">Submit Second Hint</button>
					<% if current_user.giverdeletegamesleft == 0 %>
						<button class="button deletegame"><img src="/assets/Garbage.png"></button>
					<% else %>
					  <button class="button deletegameoff">
					  	<img src="/assets/Garbage.png">
					  	<span class="deletenum"><%= current_user.giverdeletegamesleft %></span>
					  </button>
					<% end %>
				</div>
				<button class="menu"><img src="https://s3-us-west-2.amazonaws.com/wordstretch/avatarui/btn_menu.png"></button>
				<!--<button class="button skiphint2">Skip Second Hint</button>-->
			</div>
			<div class="hints hint3 hidden">
				<!-- <span class="hintlabel">Hint 2:</span> -->
				<textarea class="hintenter hint3word" rows="1" placeholder="Hint 3 (One word)"></textarea>
				<div class="wordnumarea">
					<span class="hintnumheading">Applies to this many words:</span>
					<div class="selections hint3number">
					  <button class="button" value="1">1</button>
					  <button class="button" value="2">2</button>
					  <button class="button" value="3">3</button>
					  <button class="button" value="4">4</button>
					  <button class="button" value="5">5</button>
					  <button class="button" value="6">6</button>
					</div>
				</div>
				<!-- <div class="firstinfo">(First hint was: <span class="firstinfoword"></span> for <span class="firstinfonum">.</span>)</div>
				<div class="firstinfo">(Second hint was: <span class="secondinfoword"></span> for <span class="secondinfonum">.</span>)</div> -->
				<div class="givesubbuttons">
					<button class="button submithint3">Submit Third Hint</button>
					<% if current_user.giverdeletegamesleft == 0 %>
						<button class="button deletegame"><img src="/assets/Garbage.png"></button>
					<% else %>
					  <button class="button deletegameoff">
					  	<img src="/assets/Garbage.png">
					  	<span class="deletenum"><%= current_user.giverdeletegamesleft %></span>
					  </button>
					<% end %>
				</div>
				<button class="menu"><img src="https://s3-us-west-2.amazonaws.com/wordstretch/avatarui/btn_menu.png"></button>
				<!--<button class="button skiphint2">Skip Second Hint</button>-->
			</div>
			<div class="hints submitted hidden">
				<span class="hintlabel">You've submitted your game, thank you!</span>
				<!-- <div class="wordnumarea">
					<span class="hintnumheading">Your hints: 
						<span class="submittedword1"></span> (<span class="submittednum1"></span>),&nbsp;
						<span class="submittedword2"></span> (<span class="submittednum2"></span>), and&nbsp;
						<span class="submittedword3"></span> (<span class="submittednum3"></span>)
					</span>
				</div> -->
				<button class="menu"><img src="https://s3-us-west-2.amazonaws.com/wordstretch/avatarui/btn_menu.png"></button>
			</div>
		</div>
	</div>

	<div class="gamebottom"></div>

	<div class="messagebox">
		<div class="messagetitle"></div>
		<div class="messageinfo"></div>
		<div class="messageaction"></div>
		<div class="messagesubtext"></div>
	</div>

	<div class="pagecover"></div>
	<div class="pagecoverunclickable"></div>
	<div class="menudialog menudialogrevealwords">
    <button class="revealwords">Reveal words!</button>
  </div>
	<div class="buttons-middle hidden">
		<button class="button bigplaybutton">CONTINUE</button>
    <div class="mainmenubuttons">

      <div class="actions">
        <% if current_user.lifetimegamesguesser > 2 %>
          <button class="button contmainplay">Give</button>
        <% else %>
          <button class="button contmainplay disabled">Give</button>
        <% end %>
      </div>
      <br>

      <button class="button contstartguess">Guess</button><br>

      <% if current_user.lifetimegamesguesser < 3 %>
        <span class="guessermsg">(Play 3 games as Guesser to activate Giver button)</span>
      <% end %>
    </div>
  </div>

  <div class="givesummary offscreen">
  	<div class="wordsummary wordsummary1 offscreen">
	  	<span class="hintwordsummary hws1"><span class="sumword"></span></span>
	  	<span class="hintnumsummary hns1"><span></span><span class="sumnum">-</span></span>
	  	<span class="hinteditbutton"><a class="hinteditsummary hes1" href="#"><img src="/assets/btn_editInfo.png"></a></span>
	  </div>
	  <div class="wordsummary wordsummary2 offscreen">
	  	<span class="hintwordsummary hws2"><span class="sumword"></span></span>
	  	<span class="hintnumsummary hns2"><span></span><span class="sumnum">-</span></span>
	  	<span class="hinteditbutton"><a class="hinteditsummary hes2" href="#"><img src="/assets/btn_editInfo.png"></a></span>
	  </div>
	  <div class="wordsummary wordsummary3 offscreen">
	  	<span class="hintwordsummary hws3"><span class="sumword"></span></span>
	  	<span class="hintnumsummary hns3"><span></span><span class="sumnum">-</span></span>
	  	<span class="hinteditbutton"><a class="hinteditsummary hes3" href="#"><img src="/assets/btn_editInfo.png"></a></span>
	  </div>
	  <span class="summarytitle">SUMMARY</span>
  </div>
</section>