<% @gamesgiverlist.each_with_index do |game, index| %>
<% @humanindex = @gamesgiver.count - (@gamesgiver.index(Game.find(game.id))) %>
  <% if Game.find(game.id).guesser_id1 == 0 %>
    <% numplayers = "0" %>
  <% elsif Game.find(game.id).guesser_id2 == 0 %>
    <% numplayers = "1" %>
  <% elsif Game.find(game.id).guesser_id3 == 0 %>
    <% numplayers = "2" %>
  <% elsif Game.find(game.id).guesser_id4 == 0 %>
    <% numplayers = "3" %>
  <% elsif Game.find(game.id).guesser_id5 == 0 %>
    <% numplayers = "4" %>
  <% elsif Game.find(game.id).guesser_id6 == 0 %>
    <% numplayers = "5" %>
  <% else %>
    <% numplayers = "6" %>
  <% end %>
  <li class="gamelist">
    <% if Game.getchatnumber(current_user.id, game.id) != "" %>
      <span class='listnotify'> 
          <img src="/assets/chat.png">
        <span><%= Game.getchatnumber(current_user.id, game.id) %></span>
      </span>
    <% end %>
    <a href="<%= game_path(game.id) %>"><!-- <%= User.find(Game.find(game.id).giver_id).username %> -->
      <div class="gltop">
        <%= @humanindex %>: <%= numplayers %>/6 pl
      </div>
    <span class="timeshow"><%= local_time(game.created_at, "%b %d, '%y") %></span>
    <% heartnum = Game.find(game.id).gsr1_heart + Game.find(game.id).gsr2_heart + Game.find(game.id).gsr3_heart + 
      Game.find(game.id).gsr4_heart + Game.find(game.id).gsr5_heart + Game.find(game.id).gsr6_heart %>
    <span class="timeshow heartsnum"><img src="/assets/Heart-48.png"> <%= heartnum %></span>
  </a>
    
  </li>
<% end %>