<div class="gametop" data-gameid="<%= @game.id %>">Playing 
	<%= User.find(@game.giver_id).username%>'s Game<br>
	<div class="scoreSection">Words: <span class="wordcount">0</span> | Score: <span class="scorecount">0</span> pts</div>
</div>

<div class="allwords guesswordslist">
	<span id="allwordslist">
    <%= render 'allwordsguess' %>
  </span>
</div>

<div class="hintarea guess">
	<div class="hintheading">
		<div class="notifyarea">
			<span class="hintheadline">Your first hint is...</span>
			<span class="gamenotify">You are so cool, seriously.</span>
		</div>
		<div class="hints hint1">
			<div class="hintlabel guessword">
				<span class="guessinfo">
					<span class="thehintword"></span> <span class="hintpar">(<span class="thehintnum"></span>)</span>
				</span>
			</div>
			<div class="hintlabel guessnum"><span>The word <span class="thehintword"></span> applies 
				to <span class="thehintnum"></span> <span class="thewordword"></span>. Click on a word to guess it...</span></div>
			</div>
			<button class="button skip1">Too risky? Go to next hint...</button>
			<button class="menu"><img src="/assets/menu.png"></button>
		</div>
		<div class="hints submitted hidden">
			<span class="hintlabel gameover">Game Over</span>
			<div class="gameoverinfo">
				<span class="hintnumheading">Final Score:<br>
					Words: <span class="wordcount"></span> for <span class="scorecount"></span> points
				</span><br>
				<span class="hintnumheading allguesserinfo"><u>All Guesser's Scores</u><br>
					<div class="guesserinfo">
						<span><%= @game.guesser_id1 != 0 ? User.find(@game.guesser_id1).username : "-" %></span>: 
						<span class="finalpoints1"><%= @game.gsr1_score ? @game.gsr1_score : "-" %>pts</span>
					</div>
					<div class="guesserinfo">
						<span><%= @game.guesser_id2 != 0 ? User.find(@game.guesser_id2).username  : "-" %></span>: 
						<span class="finalpoints2"><%= @game.gsr2_score ? @game.gsr2_score : "-" %>pts</span>
					</div>
					<div class="guesserinfo">
						<span><%= @game.guesser_id3 != 0 ? User.find(@game.guesser_id3).username  : "-" %></span>: 
						<span class="finalpoints3"><%= @game.gsr3_score ? @game.gsr3_score : "-" %>pts</span>
					</div>
					<div class="guesserinfo">
						<span><%= @game.guesser_id4 != 0 ? User.find(@game.guesser_id4).username : "-" %></span>: 
						<span class="finalpoints4"><%= @game.gsr4_score ? @game.gsr4_score : "-" %>pts</span>
					</div>
					<div class="guesserinfo">
						<span><%= @game.guesser_id5 != 0 ? User.find(@game.guesser_id5).username  : "-" %></span>: 
						<span class="finalpoints5"><%= @game.gsr5_score ? @game.gsr5_score : "-" %>pts</span>
					</div>
					<div class="guesserinfo">
						<span><%= @game.guesser_id6 != 0 ? User.find(@game.guesser_id6).username  : "-" %></span>: 
						<span class="finalpoints6"><%= @game.gsr6_score ? @game.gsr6_score : "-" %>pts</span>
					</div>
				</span>
			</div>
			<button class="button returntomain">Return to Main</button>
			<button class="menu"><img src="/assets/menu.png"></button>
		</div>
	</div>
</div>

<div class="gamebottom"></div>

<div class="messagebox">
	<div class="messagetitle"></div>
	<div class="messageinfo"></div>
	<div class="messageaction"></div>
	<div class="messagesubtext"></div>
</div>

<div class="pagecover"></div>