<section class="playboard-signedin <%= current_user.theme %>">
	<div class="gametop" data-gameid="<%= @game.id %>">Playing 
		<%= User.find(@game.giver_id).username %>'s Game<br>
	</div>

	<div class="hintnumarea">
		<span class="hintheadline">First hint</span>
		<div class="scoreSection">Words: <span class="wordcount">0</span> | Score: <span class="scorecount">0</span> pts</div>
		<span class="giveravatar">
			<div class="avatarpart avatar_bg">
				<img src=<%= @avgiverbgurl %>>
			</div>
			<div class="avatarpart avatar_head">
				<img src=<%= @avgiverheadurl %>>
			</div>
			<div class="avatarpart avatar_mouth">
				<img src=<%= @avgivermouthurl %>>
			</div>
			<div class="avatarpart avatar_eyes">
				<img src=<%= @avgivereyesurl %>>
			</div>
			<div class="avatarpart avatar_hair">
				<img src=<%= @avgiverhairurl %>>
			</div>
			<div class="avatarpart avatar_deco">
				<img src=<%= @avgiverdecourl %>>
			</div>
		</span>
	</div>

	<div class="bighint">
		<span class="thehintword"></span> <span class="hintpar">(<span class="thehintnum"></span>)</span>
	</div>

	<div class="allwords guesswordslist">
		<span id="allwordslist">
	    <%= render 'allwordsguess' %>
	    <span class="pupspoilershow">
				<div class="posspoiler">
		      <span class="psquestionmark">?</span>
		      <img src="/assets/skull.png">
		      <span class="psquestionmark">?</span>
		    </div>
		  </span>
	  </span>
	</div>

	<div class="hintlabel guessnum"><span>The word <span class="thehintword"></span> applies 
		to <span class="thehintnum"></span> <span class="thewordword"></span>. Click on a word to guess it...</span></div>
	</div>

	<div class="hintarea guess">
		<div class="hintheading">
			<div class="notifyarea">
				<span class="gamenotify">You are so cool, seriously.</span>
			</div>
			<div class="hints hint1">
				<div class="hintlabel guessword">
					<!-- <span class="guessinfo"> -->
						<!-- <span class="streakinfo guesserstreak">Your Guesser Streak: 
							<%= current_user.statguessernospoilers %></span>
						<span class="streakinfo giverstreak"><%= User.find(@game.giver_id).username%>'s Giver Streak: 
							<%= User.find(@game.giver_id).statgivernospoilers %></span> -->
						
					<!-- </span> -->
				</div>
				
				<div class="streakwarn">
					<!-- <span class="bonusstreakheadline">Current non-spoiler streaks at risk:</span> -->
					<span class="bonusstreak bonusguesserstreak">Your Streak: <%= current_user.statguessernospoilers %></span>
					<span class="bonusstreak bonusgiverstreak"><%= User.find(@game.giver_id).username%>'s Streak: 
							<%= User.find(@game.giver_id).statgivernospoilers %></span>
				</div>
				<div class="guessbottomarea">
					<span class="guesseravatar">
						<div class="avatarpart avatar_bg">
							<img src=<%= @avguesserbgurl %>>
						</div>
						<div class="avatarpart avatar_head">
							<img src=<%= @avguesserheadurl %>>
						</div>
						<div class="avatarpart avatar_mouth">
							<img src=<%= @avguessermouthurl %>>
						</div>
						<div class="avatarpart avatar_eyes">
							<img src=<%= @avguessereyesurl %>>
						</div>
						<div class="avatarpart avatar_hair">
							<img src=<%= @avguesserhairurl %>>
						</div>
						<div class="avatarpart avatar_deco">
							<img src=<%= @avguesserdecourl %>>
						</div>
					</span>
					<span class="guessername"><%= current_user.username %></span>
					<div class="guesserskiparea">
						<div class="riskytext">Too risky?</div>
						<button class="button skip1">Go to next hint!</button>
					</div>
				</div>
				<span class="menuarea">
					<button class="menu"><img src="/assets/btn_menu.png"></button>
					<span class="pupcontainer">
						<% if current_user.pupneutraltworemove == 0 %>
							<div class="activepup">
								<button class="pupbutton pup_tworemove pupnotactive"><img src="https://wordstretch.s3-us-west-2.amazonaws.com/pups/btn_minus2_grey.png"></button>
								<span class="pupnum pupnumnotactive neutralzero"><%= current_user.pupneutraltworemove %></span>
							</div>
						<% else %>
							<div class="activepup">
								<button class="pupbutton pup_tworemove pupactive"><img src="https://wordstretch.s3-us-west-2.amazonaws.com/pups/btn_minus2.png"></button>
								<span class="pupnum"><%= current_user.pupneutraltworemove %></span>
							</div>
						<% end %>
						<% if current_user.pupspoilerdetector == 0 %>
							<div class="activepup">
								<button class="pupbutton pup_spoilerdetect pupnotactive"><img src="https://wordstretch.s3-us-west-2.amazonaws.com/pups/btn_detect_grey.png"></button>
								<span class="pupnum pupnumnotactive spoilerzero"><%= current_user.pupspoilerdetector %></span>
							</div>
						<% else %>
							<div class="activepup">
								<button class="pupbutton pup_spoilerdetect pupactive"><img src="https://wordstretch.s3-us-west-2.amazonaws.com/pups/btn_detect.png"></button>
								<span class="pupnum"><%= current_user.pupspoilerdetector %></span>
							</div>
						<% end %>
					</span>
				</span>
			</div>
		</div>
		<div class="hints submitted hidden">
			<span class="hintlabel gameover">Game Over</span>
			<div class="gameoverinfo">
				<span class="hintnumheading">
					<!-- Your Score... Words: <span class="wordcount"></span> for <span class="scorecount"></span> points -->
				</span><br>
				<span class="hintnumheading allguesserinfo playerplayed" style="text-align: center;">
					<span class="summaryhints">Hints: <%= @game.hintword1 %>(<%= @game.hintnum1 %>) <%= @game.hintword2 %>(<%= @game.hintnum2 %>) <%= @game.hintword3 %>(<%= @game.hintnum3 %>)</span>
					<div class="prevscoreblock">
						<!-- <span class="removeheartsuccess">Your <img src="/assets/Heart-48.png"></img> removed from <%= User.find(@game.giver_id).username %>'s game.
						</span> -->
						<span class="removeheartsuccess">Awww.</span>
						<span class="giveheart"><img src="/assets/Heart-48.png"> +</img></span>
						<div class="scoreblocktitle">Scores So Far (clickable)</div>
						<!-- <span class="giveheartsuccess">Thank you! <img src="/assets/Heart-48.png"></img> given to <%= User.find(@game.giver_id).username %>
						</span> -->
						<span class="giveheartsuccess">Thanks!</span>
						<span class="removeheart"><img src="/assets/Heart-48.png"></img> -</span><br>
						<% if @gsrstatus == "over,over" %>
						<div class="guesserinfo guesser1" data-gsrwords="<%= @game.gsr1_words.join(",") %>">
							<span><%= @game.guesser_id1 != 0 ? User.find(@game.guesser_id1).username : "-" %></span>: 
							<span class="finalpoints1"><%= @game.gsr1_score ? @game.gsr1_score : "-" %>pts</span>
							<% if @game.gsr1_heart == 1 %>
								<span class="heartshow"><img src="/assets/Heart-48.png"></img></span>
							<% end %>
						</div>
						<div class="guesserinfo guesser2"  data-gsrwords="<%= @game.gsr2_words.join(",") %>">
							<span><%= @game.guesser_id2 != 0 ? User.find(@game.guesser_id2).username  : "-" %></span>: 
							<span class="finalpoints2"><%= @game.gsr2_score ? @game.gsr2_score : "-" %>pts</span>
							<% if @game.gsr2_heart == 1 %>
								<span class="heartshow"><img src="/assets/Heart-48.png"></img></span>
							<% end %>
						</div>
						<div class="guesserinfo guesser3" data-gsrwords="<%= @game.gsr3_words.join(",") %>">
							<span><%= @game.guesser_id3 != 0 ? User.find(@game.guesser_id3).username  : "-" %></span>: 
							<span class="finalpoints3"><%= @game.gsr3_score ? @game.gsr3_score : "-" %>pts</span>
							<% if @game.gsr3_heart == 1 %>
								<span class="heartshow"><img src="/assets/Heart-48.png"></img></span>
							<% end %>
						</div>
						<div class="guesserinfo guesser4"  data-gsrwords="<%= @game.gsr4_words.join(",") %>">
							<span><%= @game.guesser_id4 != 0 ? User.find(@game.guesser_id4).username : "-" %></span>: 
							<span class="finalpoints4"><%= @game.gsr4_score ? @game.gsr4_score : "-" %>pts</span>
							<% if @game.gsr4_heart == 1 %>
								<span class="heartshow"><img src="/assets/Heart-48.png"></img></span>
							<% end %>
						</div>
						<div class="guesserinfo guesser5"  data-gsrwords="<%= @game.gsr5_words.join(",") %>">
							<span><%= @game.guesser_id5 != 0 ? User.find(@game.guesser_id5).username  : "-" %></span>: 
							<span class="finalpoints5"><%= @game.gsr5_score ? @game.gsr5_score : "-" %>pts</span>
							<% if @game.gsr5_heart == 1 %>
								<span class="heartshow"><img src="/assets/Heart-48.png"></img></span>
							<% end %>
						</div>
						<div class="guesserinfo guesser6" data-gsrwords="<%= @game.gsr6_words.join(",") %>">
							<span><%= @game.guesser_id6 != 0 ? User.find(@game.guesser_id6).username  : "-" %></span>: 
							<span class="finalpoints6"><%= @game.gsr6_score ? @game.gsr6_score : "-" %>pts</span>
							<% if @game.gsr6_heart == 1 %>
								<span class="heartshow"><img src="/assets/Heart-48.png"></img></span>
							<% end %>
						</div>
					</div>
					<script>
					GuessFunc = {
					  seeguessesafter: function() {
						console.log("loading seeguessesafter")
						$(".guesswordslist").addClass("guessednotdone");
						var gsrnum = gon.guessernum;
						var twords = gon.targetwords;
				  	var bword = gon.badword;
				  	var hintword1 = gon.hintword1;
				  	var hintword2 = gon.hintword2;
				  	var hintword3 = gon.hintword3;
				  	var hintnum1 = gon.hintnum1;
				  	var hintnum2 = gon.hintnum2;
				  	var hintnum3 = gon.hintnum3;

				  	var pl1words = <%= raw @game.gsr1_words %>;
				  	var pl2words = <%= raw @game.gsr2_words %>;
				  	var pl3words = <%= raw @game.gsr3_words %>;
				  	var pl4words = <%= raw @game.gsr4_words %>;
				  	var pl5words = <%= raw @game.gsr5_words %>;
				  	var pl6words = <%= raw @game.gsr6_words %>;

				  	// $(".word").each(function() {
				  	// 	var word = $(this).attr("data-guessword");
				  	// 	if (twords.indexOf(word) !== -1) {
				  	// 		$(this).addClass("targetword");
				  	// 	} else if (bword === word) {
				  	// 		$(this).addClass("badword");
				  	// 	} else {
				  	// 		$(this).removeClass("neutralword");
				  	// 	}
				  	// })
				  	$(".neutralword").removeClass("neutralword");

						function showplayerwords(playernum, wordvar) {
							$(".finalguessesshow").removeClass("finalguessesshow")
				  		$(".word").removeClass("guesser1show").removeClass("guesser2show").removeClass("guesser3show")
				  		          .removeClass("guesser4show").removeClass("guesser5show").removeClass("guesser6show")
				  		for (var i = 0; i < wordvar.length; i++) {
				  			$('[data-guessword="' + wordvar[i] + '"]').addClass("guesser" + playernum + "show");
				  		}
				  	}

				  	$(".guesser1").click(function() {
				  		showplayerwords(1, pl1words);
				  	});
				  	$(".guesser2").click(function() {
				  		showplayerwords(2, pl2words);
				  	});
				  	$(".guesser3").click(function() {
				  		showplayerwords(3, pl3words);
				  	});
				  	$(".guesser4").click(function() {
				  		showplayerwords(4, pl4words);
				  	});
				  	$(".guesser5").click(function() {
				  		showplayerwords(5, pl5words);
				  	});
				  	$(".guesser6").click(function() {
				  		showplayerwords(6, pl6words);
				  	});
				  	$(".guesser" + gsrnum).click();
				  	}
				  }
					setTimeout(function() { GuessFunc.seeguessesafter(); }, 300);
					</script>
					<% end %>
				</span>
				
			</div>
			
		</div>
	</div>

	<button class="menu"><img src="/assets/btn_menu.png"></button>

	<div class="gamebottom"></div>

	<div class="messagebox">
		<div class="messagetitle"></div>
		<div class="messageinfo"></div>
		<div class="messageaction"></div>
		<div class="messagesubtext"></div>
	</div>

	<div class="pagecover"></div>
	<div class="pagecoverunclickable"></div>
	<div class="menudialog menudialogrevealwords">
    <button class="revealwords">Reveal words!</button>
  </div>

	<div class="roundannounce hidden">
		<div class="raRound1toRound2 hidden">
			<span class="ra_anim1 raa1_initial">Round 2!</span>
			<!-- <span class="ra_anim2 raa2_initial"><%= @game.hintword2 %>(<%= @game.hintnum2 %>)</span> -->
		</div>
		<div class="raRound2toRound3 hidden">
			<span class="ra_anim1 raa1_initial">Final Round!</span>
			<!-- <span class="ra_anim2 raa2_initial"><%= @game.hintword3 %>(<%= @game.hintnum3 %>)</span> -->
		</div>
		<div class="raBonustoRound3 hidden">
			<span class="ra_anim1 raa1_initial">Final Round!</span>
			<!-- <span class="ra_anim2 raa2_initial"><%= @game.hintword3 %>(<%= @game.hintnum3 %>)</span> -->
		</div>
		<div class="raSkiphint hidden">
			<span class="ra_anim1 raa1_initial">Skipped...</span>
			<!-- <span class="ra_anim2 raa2_initial">Next round!</span> -->
		</div>
		<div class="raBonusstart hidden">
			<span class="ra_anim1 raa1_initial">Bonus!</span>
			<!-- <span class="ra_anim2 raa2_initial">Good luck!</span> -->
		</div>
	</div>

	<div class="playedgameover">
		<div class="pgotitle">Game Over!</div>
		<div class="buttons-middle">
			<button class="button bigplaybutton">CONTINUE</button>
      <div class="mainmenubuttons">

        <div class="actions">
          <% if current_user.lifetimegamesguesser > 2 %>
            <button class="button contmainplay">Give</button>
          <% else %>
            <button class="button contmainplay disabled">Give</button>
          <% end %>
        </div>
        <br>

        <button class="button contstartguess">Guess</button><br>

        <% if current_user.lifetimegamesguesser < 3 %>
          <span class="guessermsg">(Play 3 games as Guesser to activate Giver button)</span>
        <% end %>
      </div>
    </div>
	</div>

	<% if current_user.username == "Matt" %>
	  <div class="gd button">Delete game</div>
	<% end %>
	<p id="notice"><%= notice %></p>
</section>