<% @gamesguesserlist.each do |game| %>
  <% if game.guesser_id1 == current_user.id %>
    <% gscore = game.gsr1_score %>
  <% elsif game.guesser_id2 == current_user.id %>
    <% gscore = game.gsr2_score %>
  <% elsif game.guesser_id3 == current_user.id %>
    <% gscore = game.gsr3_score %>
  <% elsif game.guesser_id4 == current_user.id %>
    <% gscore = game.gsr4_score %>
  <% elsif game.guesser_id5 == current_user.id %>
    <% gscore = game.gsr5_score %>
  <% elsif game.guesser_id6 == current_user.id %>
    <% gscore = game.gsr6_score %>
  <% end %>
  <li class="gamelist">
    <% if Game.getchatnumber(current_user.id, game.id) != "" %>
      <span class='listnotify'> 
        <img src="/assets/chat.png">
        <span><%= Game.getchatnumber(current_user.id, game.id) %></span>
      </span>
    <% end %>
    <a href="<%= game_path(game.id) %>">
      <div class="gltop">
        <%= User.find(Game.find(game.id).giver_id).username %>
      </div>
      <span class="timeshow"><%= local_time(game.updated_at, "%b %d, '%y") %></span>
      <span class="timeshow tsscore"><%= gscore %>pts</span>
    </a>    
    
  </li>
<% end %>