<div class="gametop gtmain">
  Welcome, Guest!
</div>

<div class="mainmenubuttons guestplaying">
  <button class="button dummyplay disabled">Play as Giver</button>
  <button class="button startguess playasguest">Play as Guesser</button><br><br>



  <span class="guessermsg">(Sign up and play 3 games to activate Giver button)</span>
   <%= link_to "How to Play", howtoplay_pages_path, :class => "button", :style => "margin-top: 6px;" %><br><br>

  Feel free to play as many games as you want as a word guesser! Sign up to enable stat-tracking, to join the rankings, and also to be able to give clues to other players.<br><br>
  <%= link_to "Sign up", new_user_registration_path %><br>
    <br>
    <div id="signin-with">Or sign in with:<br>
  <div class="login-logos" id="signin-twitter">
    <%= link_to(image_tag("Twitter-login.png", size: "48", alt: "Twitter login"),
        omniauth_authorize_path(:user, :twitter)) %><br>
    <%= link_to "Twitter", omniauth_authorize_path(:user, :twitter) %>
  </div>

 <div class="login-logos" id="signin-facebook">
    <%= link_to(image_tag("Facebook-login.png", size: "48", alt: "Facebook login"),
        omniauth_authorize_path(:user, :facebook)) %><br>
    <%= link_to "Facebook", omniauth_authorize_path(:user, :facebook) %>
  </div>

  <div class="login-logos" id="signin-google">
    <%= link_to(image_tag("Google-login.PNG", size: "48", alt: "Google login"),
        omniauth_authorize_path(:user, :google_oauth2)) %><br>
    <%= link_to "Google", omniauth_authorize_path(:user, :google_oauth2) %>
  </div>
</div>
</div>



