<script type='text/javascript' src="https://cdn.applixir.com/applixir.sdk3.0m.js"></script>
<div id="applixir_vanishing_div" hidden>
   <iframe id="applixir_parent" allow="autoplay, fullscreen"></iframe>
</div>
<section class="titlesignedin">
  <%= link_to(image_tag("/assets/btn_options.png", :alt => "How to Play", :title => "How to Play"), settings_pages_path, :class => "menunav opensettings") %>
  <div class="titlewelcome">
    <% if current_user.lifetimegamesguesser < 3 %>
      Welcome, <%= current_user.username %>!
    <% else %>
      Welcome back, <%= current_user.username %>!
    <% end %>
    <span class="titleavatar">
      <div class="avatarpart avatar_bg">
        <img src=<%= @avguesserbgurl %>>
      </div>
      <div class="avatarpart avatar_head">
        <img src=<%= @avguesserheadurl %>>
      </div>
      <div class="avatarpart avatar_mouth">
        <img src=<%= @avguessermouthurl %>>
      </div>
      <div class="avatarpart avatar_eyes">
        <img src=<%= @avguessereyesurl %>>
      </div>
      <div class="avatarpart avatar_hair">
        <img src=<%= @avguesserhairurl %>>
      </div>
      <div class="avatarpart avatar_deco">
        <img src=<%= @avguesserdecourl %>>
      </div>
    </span>
  </div>

  <div class="titlegamecopy">
    <!-- <img class="tgc-header" src="/assets/obj_title_header.png"> -->
    <img class="tgc-main" src="/assets/obj_title.png">
    <!-- <img class="tgc-subline" src="/assets/obj_title_subline.png"> -->
  </div>

  <div class="maingamelist hidden">
    Your Games<br>
    <div class="yourgames givergames">
      <span class="gamelisttitle">Giver:</span>
      <span class="mainstreakinfo">Non-spoiler streak: <b><%= current_user.statgivernospoilers %></b></span>
      <span id="gamesgiverlist">
        <%= render 'giverlist' %>
      </span>
      <div id="paginator" style="margin-top: 10px; text-align: center;">
        <%= paginate @gamesgiverlist, remote: true, :param_name => 'page' %>
      </div>
    </div>
    <div class="yourgames guessergames hidden">
      <span class="gamelisttitle">Guesser:</span>
      <span class="mainstreakinfo">Non-spoiler streak: <b><%= current_user.statguessernospoilers %></b></span>
      <span id="gamesguesserlist">
        <%= render 'guesserlist' %>
      </span>
      <div id="paginator2" style="margin-top: 10px; text-align: center;">
        <%= paginate @gamesguesserlist, remote: true, :param_name => 'page_2' %>
      </div>
    </div>
  </div>

  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>

  <div class="buttonarea">
    <div class="buttons-left">
      <a class="menunav feednav" href="/pages/feed" alt="See news feed" title="See news feed">
        <img src="/assets/btn_news.png">
        <% if current_user.heartnotify > 0 %>
          <span class="heartsnotify"><img src="/assets/Heart-48.png">
            <span class="notifynumber"><%= current_user.heartnotify %></span>
          </span>
        <% end %>
        <% feedunseen = News.where(:targetuser_id => current_user.id).where(:seen => 0) %>
        <% if feedunseen.count > 0 %>
          <span class="feednotify">
            <span class="feednumber"><%= feedunseen.count %></span>
          </span>
        <% end %>
      </a>
      <a class="menunav feednav" href="/pages/howtoplay" alt="how to play" title="See how to play">
        <img src="/assets/btn_help.png">
      </a>
    </div>
    <div class="buttons-middle">
      <%= link_to(image_tag("/assets/btn_play.png", :alt => "Play", :title => "Play Word Stretch"), howtoplay_pages_path, :class => "bigplaybutton") %>
      <div class="mainmenubuttons">
        <div class="mmheading"><%= @playheading %></div>

        <%= form_for(@game) do |f| %>
          <div class="actions">
            <% if current_user.lifetimegamesguesser > 2 %>
              <%= f.button "Give", :class => "button mainplay" %>
            <% else %>
              <%= f.button "Give", :class => "button mainplay disabled" %>
            <% end %>
          </div>
          <br>

        <% end %>
        <% if current_user.showtutorial == true %>
          <%= link_to tutorial_pages_path, :class => "button tutorialguess", :style => "font-size: 17px;line-height: 1.4;" do %>
            <span>How to Play Guess Mode</span>
          <% end %>
        <% else %>
          <button class="button startguess">Guess</button><br>
        <% end %>

        <% if current_user.lifetimegamesguesser < 3 %>
          <span class="guessermsg">(Play 3 games as Guesser to activate Give button)</span>
        <% end %>

        <%= link_to yourgames_pages_path, :class => "button seeyourgames" do %>
          <span>See Your Games</span>
        <% end %>
        
      </div>
    </div>
    <div class="buttons-right">
      <%= link_to(image_tag("/assets/btn_ranking.png", :alt => "See rankings", :title => "See rankings"), rankings_pages_path, :class => "menunav") %>
      <a class="menunav featsnav" href="/pages/feats" alt="Feats of Stretch" title="Feats of Stretch">
        <img src="/assets/btn_awards.png">
        <% if @featcount > 0 %>
          <span class="feednotify">
            <span class="feednumber"><%= @featcount %></span>
          </span>
        <% end %>
      </a>
    </div>

    <div class="powerupstitle">
      <div class="pupstitle">Get powerups</div>
      <button class="button watchpupbutton watchforpupneutrals">
        <div class="watchleft"><img src="/assets/ico_watch_ad.png"></div>
        <div class="watchright">2x neutrals</div>
        <span class="titlepupnum"><%= current_user.pupneutraltworemove %></span>
      </button>
      <button class="button watchpupbutton watchforpupspoilers">
        <div class="watchleft"><img src="/assets/ico_watch_ad.png"></div>
        <div class="watchright">2x spoiler</div>
        <span class="titlepupnum"><%= current_user.pupspoilerdetector %></span>
      </button>

    </div>
    
  </div>

  <div class="menudialog menudialogadblocker">
    <div class="menutitle spoilersused">Please disable your adblocker so you can watch ads and receive powerups.</div>
    <div class="menusubtext">Click anywhere outside box to close</div>
  </div>
  <div class="pagecover"></div>
  <div class="pagecoverunclickable"></div>

  <div class="settingsbox boxout">
    <%= link_to "Customize your avatar", avatarcustomize_pages_path, :class => "avatarlink" %><br>
    <%= link_to "How to play", howtoplay_pages_path %><br>
    <%= link_to "About the Game (Dec 27, 2017)", about_pages_path, :style => "color: red;" %><br>
    <%= link_to "Edit your information", edit_user_registration_path %><br>
    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
    <div class="settingsclosebutton">Close Settings</div>
  </div>
</section>

<script>
$(".feednav").click(function() {
  $.ajax({
      url: "/games/resetheartnotify",
      type: "POST"
    })
})
</script>

<script>
        // powerups
        $(".watchforpupneutrals").click(function() {
          $(".pagecover").show().addClass("unclickable");
          setTimeout(function() {
            $(".pagecoverunclickable").hide();
          }, 35000)
          runneutralad();
        })
        $(".watchforpupspoilers").click(function() {
          $(".pagecover").show().addClass("unclickable");
          setTimeout(function() {
            $(".pagecoverunclickable").hide();
          }, 35000)
          runspoilersad();
        })
        var sound = gon.sound;

        function runneutralad() {
          function neutralAdStatusCallback(status) {
            if (status) {console.log('Applixir status: ' + status);}

            if (status === "ad-blocker") {
              console.log("USER HAS AD-BLOCKER, ASK THEM TO DISABLE")
              $(".menudialogadblocker").show();
              $(".pagecover").show();
            }
            if (status === "ad-watched" || status === "fb-watched") {
              $.ajax({
                url: "/games/increasepuptworemove",
                type: "POST",
                dataType:'json'
              })
              .done(function() {
                console.log("user pup increased")
                var numtext = parseInt($(".watchforpupneutrals .titlepupnum").text()) + 2;
                $(".watchforpupneutrals .titlepupnum").text(numtext);
              })
              .fail(function() {
                console.log("sorry, attempt to add neutral remove powerups failed")
              })
            }
            if (status === "sys-closing") {
              $(".pagecoverunclickable").hide();
              $(".pagecover").hide();
            }
          }

          var adsound = true;
          if (sound === 1) {
            adsound = false;
          }

          var options = {
            zoneId: 2894,
            devId: 3705,
            gameId: 4932,
            dMode: 1,       // dMode 1 for MD5 checksum 0 for no MD5 checksum
            muted: adsound, // the player will start in muted mode/
            fallback: 1,
            // the player will start normally with no muted option
            //vpos: 'top',
            adStatusCb: neutralAdStatusCallback,
            //z2url: document.location.origin + '/games/applixir.iframe.html',
          };
          $(".menudialogwatch").hide();
          invokeApplixirVideoUnit(options);
          $(".pagecoverunclickable").show();
        }

        function runspoilersad() {
          function spoilerAdStatusCallback(status) {
            if (status) {console.log('Applixir status: ' + status);}

            if (status === "ad-blocker") {
              console.log("USER HAS AD-BLOCKER, ASK THEM TO DISABLE")
              $(".menudialogadblocker").show();
              $(".pagecover").show();
            }
            if (status === "ad-watched" || status === "fb-watched") {
              $.ajax({
                url: "/games/increasepupspoiler",
                type: "POST",
                dataType:'json'
              })
              .done(function() {
                console.log("user spoiler pup increased")
                var numtext = parseInt($(".watchforpupspoilers .titlepupnum").text()) + 2;
                $(".watchforpupspoilers .titlepupnum").text(numtext);
              })
              .fail(function() {
                console.log("sorry, attempt to add spoiler remove powerups failed")
              })
            }
            if (status === "sys-closing") {
              $(".pagecoverunclickable").hide();
              $(".pagecover").hide();
            }
          }

          var adsound = true;
          if (sound === 1) {
            adsound = false;
          }

          var options = {
            zoneId: 2894,
            devId: 3705,
            gameId: 4932,
            dMode: 1,       // dMode 1 for MD5 checksum 0 for no MD5 checksum
            muted: adsound, // the player will start in muted mode/
            fallback: 1,
            // the player will start normally with no muted option
            //vpos: 'top',
            adStatusCb: spoilerAdStatusCallback,
            //z2url: document.location.origin + '/games/applixir.iframe.html',
          };
          $(".menudialogwatch").hide();
          invokeApplixirVideoUnit(options);
          $(".pagecoverunclickable").show();
        }
      </script>
