<section class="titlesignedin">
  <div class="titlewelcome">
    Welcome back, <%= current_user.username %>!
    <span class="titleavatar">
      <div class="avatarpart avatar_bg">
        <img src=<%= @avguesserbgurl %>>
      </div>
      <div class="avatarpart avatar_head">
        <img src=<%= @avguesserheadurl %>>
      </div>
      <div class="avatarpart avatar_mouth">
        <img src=<%= @avguessermouthurl %>>
      </div>
      <div class="avatarpart avatar_eyes">
        <img src=<%= @avguessereyesurl %>>
      </div>
      <div class="avatarpart avatar_deco">
        <img src=<%= @avguesserdecourl %>>
      </div>
      <div class="avatarpart avatar_hair">
        <img src=<%= @avguesserhairurl %>>
      </div>
    </span>
  </div>

  <div class="titlegamecopy">
    <img class="tgc-header" src="/assets/obj_title_header.png">
    <img class="tgc-main" src="/assets/obj_title.png">
    <img class="tgc-subline" src="/assets/obj_title_subline.png">
  </div>

  <p id="notice"><%= notice %></p>

  <div class="buttonarea">
    <div class="buttons-left">
      <%= link_to(image_tag("/assets/btn_options.png", :alt => "How to Play", :title => "How to Play"), howtoplay_pages_path, :class => "menunav opensettings") %>
      <a class="menunav feednav" href="/pages/feed" alt="See news feed" title="See news feed">
        <img src="/assets/btn_help.png">
        <% if current_user.heartnotify > 0 %>
          <span class="heartsnotify"><img src="/assets/Heart-48.png">
            <span class="notifynumber"><%= current_user.heartnotify %></span>
          </span>
        <% end %>
        <% feedunseen = News.where(:targetuser_id => current_user.id).where(:seen => 0) %>
        <% if feedunseen.count > 0 %>
          <span class="feednotify">
            <span class="feednumber"><%= feedunseen.count %></span>
          </span>
        <% end %>
      </a>
    </div>
    <div class="buttons-middle">
      <%= link_to(image_tag("/assets/btn_play.png", :alt => "Play", :title => "Play Word Stretch"), howtoplay_pages_path, :class => "bigplaybutton") %>
      <div class="mainmenubuttons">
        <%= form_for(@game) do |f| %>

          <div class="actions">
            <% if current_user.lifetimegamesguesser > 2 %>
              <%= f.button "Give", :class => "button mainplay" %>
            <% else %>
              <%= f.button "Give", :class => "button mainplay disabled" %>
            <% end %>
          </div>
          <br>

        <% end %>
        or
        <button class="button startguess">Guess</button><br>

        <% if current_user.lifetimegamesguesser < 3 %>
          <span class="guessermsg">(Play 3 games as Guesser to activate Giver button)</span>
        <% end %>
      </div>
    </div>
    <div class="buttons-right">
      <%= link_to(image_tag("/assets/btn_ranking.png", :alt => "See rankings", :title => "See rankings"), rankings_pages_path, :class => "menunav") %>
      <a class="menunav featsnav" href="/pages/feats" alt="Feats of Stretch" title="Feats of Stretch">
        <img src="/assets/btn_awards.png">
        <% if @featcount > 0 %>
          <span class="feednotify">
            <span class="feednumber"><%= @featcount %></span>
          </span>
        <% end %>
      </a>
    </div>
    
  </div>
  <div class="pagecover"></div>

  <div class="settingsbox boxout">
    <%= link_to "How to play", howtoplay_pages_path %><br>
    <%= link_to "About the Game (Dec 27, 2017)", about_pages_path, :style => "color: red;" %><br>
    <%= link_to "Edit your information", edit_user_registration_path %><br>
    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
    <div class="settingsclosebutton">Close Settings</div>
  </div>
</section>

<script>
$(".feednav").click(function() {
  $.ajax({
      url: "/games/resetheartnotify",
      type: "POST"
    })
})
</script>
