<section class="titlesignedout">
  <div class="titlewelcome">
    Welcome, Guest!
  </div>

  <div class="titlegamecopy">
    <!-- <img class="tgc-header" src="/assets/obj_title_header.png"> -->
    <img class="tgc-main" src="/assets/obj_title.png">
    <!-- <img class="tgc-subline" src="/assets/obj_title_subline.png"> -->
  </div>

  <p id="notice"><%= notice %></p>

  <div class="buttonarea">
    <div class="buttons-left">
    </div>
    <div class="buttons-middle">
      <%= link_to(image_tag("/assets/btn_play.png", :alt => "Play", :title => "Play Word Stretch"), howtoplay_pages_path, :class => "bigplaybutton") %>
      <div class="mainmenubuttons">
        <button class="button dummyplay disabled">Give</button>
        <button class="button startguess playasguest">Guess</button>

          <span class="guessermsg">(Sign up and play 3 games to activate Give button)</span>

      </div>
    </div>
    <div class="buttons-right">
      
    </div>

     <%= link_to "How to Play", howtoplay_pages_path, :class => "button guesthtp", :style => "margin-top: 6px;" %><br><br>
     <div class="blurbbox">
          <span class="guestblurb">Feel free to play as many games as you want as a word guesser! Sign up to enable stat-tracking, to join the rankings, and also to be able to give clues to other players.</span><br>
          <%= link_to "Sign up", new_user_registration_path %>
          <%= link_to "Sign in", new_user_session_path %>
     </div>
    
  </div>
  <div class="pagecover"></div>
  <div class="pagecoverunclickable"></div>

</section>
