<div class="menulinks">
  <% if current_user %>
    Welcome, <%= current_user.username %>!
  <% else %>
    Welcome, guest! Create an account or login using Google, Facebook, or Twitter to keep track of your scores and compare your games to others'.
  <% end %>
</div>

<div class="mainmenubuttons">
  Start New<br>
  <%= form_for(@game) do |f| %>

    <div class="actions" style="font-size: 150%;">
      <%= f.submit "Be the Hint Giver", :class => "button mainplay" %>
    </div>
    <br>

  <% end %>

  <button class="button startguess">Be a Guesser</button>
  <%= link_to "See all rankings", rankings_pages_path %>
</div>

<p id="notice"><%= notice %></p>

<div class="maingamelist">
  Your Games<br>
  <div class="guessergames">
    <span class="gamelisttitle">Giver:</span>
    <% @gamesgiver.each do |game| %>
      <li class="gamelist">
        <%= link_to "#{User.find(Game.find(game.id).giver_id).username  + " " + Game.find(game.id).id.to_s}", game_path(game.id) %>
      </li>
    <% end %>
  </div>
  <div class="guessergames">
    <span class="gamelisttitle">Guesser:</span>
    <% @gamesguesser.each do |game| %>
      <li class="gamelist">
        <%= link_to "#{User.find(Game.find(game.id).giver_id).username  + " " + Game.find(game.id).id.to_s}", game_path(game.id) %>
      </li>
    <% end %>
  </div>
</div>


<%= link_to "Edit your information", edit_user_registration_path %><br>
<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>


<script>
$(".startguess").click(function() {
	$.ajax({
    url: "/games/startguesser",
    type: "POST"
  })
})
</script>