<% if (@game.giver_id != nil && @game.giver_id != current_user.id) && (current_user.id != @game.guesser_id1 && current_user.id != @game.guesser_id2 && current_user.id != @game.guesser_id3 && current_user.id != @game.guesser_id4 && current_user.id != @game.guesser_id5 && current_user.id != @game.guesser_id6) %>
	<%= render "sorry" %>
<% else %>
	<% if @game.gamestatus == "give" && @game.giver_id == current_user.id%>
	  <%= render "give" %>
	<% elsif @game.gamestatus == "give" && @game.giver_id != current_user.id%>
	  <%= render "underway" %>
	<% elsif @game.gamestatus == "guess" && @game.giver_id == current_user.id%>
	  <%= render "underwayforgiver" %>
	<% elsif @game.gamestatus == "guess" && (current_user.id == @game.guesser_id1 || current_user.id == @game.guesser_id2 || current_user.id == @game.guesser_id3 || current_user.id == @game.guesser_id4 || current_user.id == @game.guesser_id5 || current_user.id == @game.guesser_id6) %>
	  <%= render "guess" %>
	<% elsif @game.gamestatus == "guess" && (current_user.id != @game.guesser_id1 && current_user.id != @game.guesser_id2 && current_user.id != @game.guesser_id3 && current_user.id != @game.guesser_id4 && current_user.id != @game.guesser_id5 && current_user.id != @game.guesser_id6) %>
	  <%= render "sorry" %>
	<% else %>
	  <%= render "done" %>
	<% end %>
<% end %>

<div class="menubox">
	<div class="menutitle">Menu</div>
	<button class="button soundon"></button><br>
	<button class="button returntomain">Return to Main</button>
	<button class="button menuclose">Close</button>
	<div class="menusubtext">Click Close or click anywhere outside box to close</div>
</div>

<span class="chatarea">
	<% if @chatshow == true %>
		<div class="chatopenbutton">
			<img src="/assets/chat.png">
			<span class="unreadchats"><%= Game.getchatnumber(current_user.id, @game.id) %></span>
		</div>
		<div class="chatbox" data-chatopen="closed">
			<div class="chattitle">Chat</div>
			<div class="chatcontent">
				<% Chat.where(:game_id => @game.id).order('created_at DESC').all.each do |chat| %>
				  <div class="messageline">
				  	<span class="messageauthor"><%= User.find(chat.user_id).username %>: </span>
				  	<span class="messagetext"><%= chat.message %></span>
				  	<span class="messagetime"><%= chat.time_ago_in_words(chat.created_at) %></span>
				  </div>
				<% end %>
			</div>
			<textarea maxlength="300" placeholder="Enter message here" class="chatenter"></textarea>
			<button class="button messageenter"><img src="/assets/chatbutton.png"></button>
		</div>
	<% end %>
</span>