<!DOCTYPE html>
<html>
  <head>
    <title>Word Stretch</title>
    <%= Gon::Base.render_data %>
    <meta name="description" content="Welcome to Word Stretch - The quick online word association game!">
	  <meta name="keywords" content="word stretch word association game">
	  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
